<form method="post" action="/toppings">
Pick your meat
<p><input type="checkbox" name = "meat[]" value = "ham"> ham</p>
<p><input type="checkbox" name = "meat[]" value = "pep"> pep</p>
<p><input type="checkbox" name = "meat[]" value = "steak"> steak</p>
cheese
<p><input type="checkbox" name = "cheese[]" value = "american"> american</p>
<p><input type="checkbox" name = "cheese[]" value = "swiss"> swiss</p>
sauce
<p><input type="checkbox" name = "sauce[]" value = "sauce"> regular sauce</p>
<p><input type="checkbox" name = "sauce[]" value = "no_sauce"> no sauce</p>
and crust
<p><input type="checkbox" name = "crust[]" value = "stuffed"> stuffed</p>
<p><input type="checkbox" name = "crust[]" value = "crust"> crust</p> 
Vegetables 
<p><input type="checkbox" name = "veg[]" value = "spinach"> spinach</p>
<p><input type="checkbox" name = "veg[]" value = "pineapple"> pineapple</p>    

<input type="submit">
</form>

